
body{
	 font: normal 100%/160% 'VT323';
}

.welcome{
	background: url('welcome.png') no-repeat;
	background-size: cover;
	width: 282px;
  height: 189px;
  margin: 3em 2em;
  transform: rotate(-20deg);
}

.welcometxt, .welcome3txt{
	padding-top: 38px;
  padding-left: 44px;
  padding-right: 38px;
  color: #333;
}

.welcome2{
	background: url('welcome2.png') no-repeat;
	background-size: cover;
	width: 282px;
  height: 189px;
  margin: -5em 3em;
  float: right;
}

.welcome2txt{
	padding-top: 38px;
  padding-left: 44px;
  padding-right: 38px;
  color: #fff;
}

.welcome3{
	background: url('welcome3.png') no-repeat;
	background-size: cover;
	width: 282px;
  height: 189px;
  margin: 8em 0 0 3em;
  transform: rotate(15deg);
}

.welcome, .welcome2, .welcome3{
	line-height: 100%;
}

#footer{
	text-align: center;
	font: italic 200% 'VT323';
margin-top: 2em;
  clear: both;
color: #F5CAEE !important;
  text-shadow: 1px 1px 0 #4f3c2d;
}

.collection{
	text-align: center;
	display: flex;
  flex-wrap: wrap;
    width: 100%;
}

.item{
	flex: 50%;
  max-width: 50%;
  padding-top: 1em;
  margin: 0 auto;
}

.collection img{
	max-height: 200px;
	image-rendering: pixelated;
	max-width: 100%;
}

.collection p{
	font-size: 135%;
	padding-top: 1.5em;
	text-align: left;
	width: 100%;
}

.collection p:first-child{
	padding-top: 0;
}

a:link, a:visited{
	color: #e38aaa;
	text-decoration: none;
}

a:hover, a:focus{
	box-shadow: inset 0 -10px 0 0 #7dd195;
	color: inherit;
}

.info{
	font-size: 130%;
	text-align: left;
	width: 100%;
}

.info p{
		padding-top: 0;
}

.info a:link, .info a:visited{
	color: #bb3767;
}

.info a:hover, .info a:focus{
background: #fff;
  box-shadow: none;
  color: #195b39;

}

.collection span{
		background: #fff;
		color: #514233;
		text-shadow: none;
		opacity: 0.9;
}

.info span{
	color: #483827;
  text-shadow: none;
  opacity: 0.9;
  text-shadow: 1px 1px 15px #fff;
}

.info ul{
	color: #fff;
	text-shadow: 2px 2px 0 #514233;
}

h2{
	text-transform: lowercase;
	letter-spacing: 3px;
	text-align: center;
border-bottom: #bf9d82 10px solid;
  line-height: 0;
  color: #F5BDC5;
  font-size: 150%;
  text-shadow: 1.5px 1.5px 2px #000;
  margin: 1em auto;
}

#darumaka{
	position: absolute;
  top: 30px;
  right: 10%;
  transform: rotate(10deg);
  box-shadow: 3px 3px 3px #333;
}

#substitute{
	position: absolute;
  left: 20%;
  margin-top: -25px;
  transform: rotate(-10deg);
}

#chansey{
	position: absolute;
  bottom: 130px;
  right: 10%;
  box-shadow: 3px 3px 3px #333;
}

#substitute img{
	height: 100px;
}

.polaroid img{
	max-height: 100px;
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  border-bottom: 40px solid #fff;
}

@media only screen and (max-width: 430px) and (min-width: 0px) {

#darumaka, #chansey, #substitute{
	display: none;
}

.welcome, .welcome3 {
	transform: none;
}

h1{
	font: normal 160% 'Silkscreen';
}

.welcome{
	margin-top: 1em;
}

.welcome3{
	margin-bottom: 1em;
}

}

